*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
/.project
*~
**/:/usr/local/monodevelop-3.0.3.5/share:/usr/local/monodevelop-3.0.3.5/share/recently-used.xbel
syrcose/2014/Grigorev/:/usr/local/monodevelop-3.0.3.5/share:/usr/local/monodevelop-3.0.3.5/share/gegl-0.2/plug-ins/Makefile

PSI_2015/psi_2015.pdf
PSI_2015/psi_2015.pdf
*.pyg.lst
*.pyg.sty
*-gnuplottex-*
*.gnuploterrors
2016/ev/fl/l1/pics/Thumbs.db
**/_minted-diploma/*
