*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
/.project
*~
**/:/usr/local/monodevelop-3.0.3.5/share:/usr/local/monodevelop-3.0.3.5/share/recently-used.xbel
syrcose/2014/Grigorev/:/usr/local/monodevelop-3.0.3.5/share:/usr/local/monodevelop-3.0.3.5/share/gegl-0.2/plug-ins/Makefile

PSI_2015/psi_2015.pdf
PSI_2015/psi_2015.pdf
*.pyg.lst
*.pyg.sty
2015/TMPA/pics/0_tok.pdf
2015/TMPA/pics/20_int.pdf
2015/TMPA/pics/20_tok.pdf
2015/TMPA/pics/24_int.pdf
2015/TMPA/pics/24_inv.pdf
2015/TMPA/pics/24_tok.pdf
2015/TMPA/pics/35_inv.pdf
2015/TMPA/pics/35_tok.pdf
2015/TMPA/pics/49_inv.pdf
2015/TMPA/pics/calc_ex.pdf
2015/TMPA/pics/calc_ex_compose.pdf
2015/TMPA/pics/calc_ex_det.pdf
2015/TMPA/pics/calc_ex_fst.pdf
2015/TMPA/pics/calc_ex_res.pdf
2015/TMPA/pics/ident_ex.pdf
2015/TMPA/pics/n_ex.pdf
2015/TMPA/pics/token.pdf
2015/TMPA/pics/TokenEx.pdf
2015/TMPA/pics/while_appr.pdf
2015/TMPA/pics/WhileEx.pdf
